{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties",
                ["module-resolver", {
                  "alias": {

                    "@dataBase": "./src/dataBase",
                    "@ducks": "./src/ducks",
                    "@components": "./src/components",
                    "@containers": "./src/containers",
                    "@assets": "./src/assets"
                  }
                }]
              ]

}
