{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties",
                ["module-resolver", {
                  "alias": {
                    "@components": "./src/components",
                    "@containers": "./src/containers"
                  }
                }]
              ]

}
