
nav {
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;

}

// .border-div {
//   width: 20vw;
//   background-color: red;
// }

.menu-button {
  // display: flex;
  // align-items: center;
  // box-sizing: border-box;
  // padding-top: calc(18px - 0.5em);
  // width: auto;
  background-color: #fff;
  width: 13vw;
  // height: 36px;
  height: 4vh;     /* mb remove later "На главную" is falled out */
  line-height: 3.9vh;
  // width: 70px;
  // padding: 10px;
  padding: 1.3vh;
  font-size: 2.02vh;
  text-align: center;
  text-decoration: none;
  color: #000;
  &:hover {
    background-color: #9effff;
    color: #004c40;
  }
  &-active {
    font-weight: bold;
    // font-size: 1.2em;
    font-size: 2.1vh;

    text-decoration: underline;
  }
  // &-with-border {
  //   &::after {
  //     display: block;
  //     width: 50px;
  //     height: 50px;
  //     background-color: red;
  //   }
  // }
}

.separator {
  height: 6.3vh;
  border: 1px solid #fff;
  // margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;
}
// .menu-button-active {
//   // background-color: #0f0;
//   font-weight: bold;
//   font-size: 1.2em;
//   text-decoration: underline;
//   // scale
//   // font-family: monospace;
// }
