.map-container {
    width: 75%;
    margin: 5px;
    margin-right: 15px;
    height: 1000px;
}

.contacts {
    font-size: 1.1em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

