
.slider__wrapper {
  height: 15vh;

  overflow: hidden;
  border-bottom: 5px solid #004c40;
}
.slider {
  display: flex;
  flex-wrap: nowrap;
}

img {
  height: 15vh;
  width: 30vw;
  object-fit: cover;
  margin-right: 5vw;
  // transform: translateX(-35vw);
  // transition: transform 1s;
}
