.a {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #48a999;

}
